---
import Layout from "@/layouts/Layout.astro"
import Gallery from "@/components/Gallery.astro";
import KeepScrolling from "@/assets/keep-scrolling.svg"

const { lang = "en"} = Astro.props;
---

<Layout>

  <section class="banner-video relative">
    <div class="bg-video">
      <video autoplay muted loop preload="none" >
        <source src="/videos/forest.mp4" type="video/mp4" />
        Tu navegador no soporta el elemento de video.
      </video>
    </div>
    <div class="absolute top-0 w-full h-full z-2 flex flex-col justify-center items-center">
      <div class="w-[90%] xl:w-[70%]">
        <h1 id="hero-title" class="text-6xl text-bold">Still Wild Nature</h1>
        <h2 id="hero-subtitle" class="text-xl">Night Walk Experience in Monteverde</h2>
      </div>
    </div>
    <KeepScrolling
      class="absolute bottom-3 right-0 left-0 mx-auto text-white z-2 drop-shadow-2xl animate-bounce-pulse"
    />
  </section>

  <div class="relative flex flex-col items-center">
      <section class="gallery py-32 w-[90%] ">
        <Gallery />
      </section>

      <section id="sobre-nosotros" class="w-[90%] xl:w-[80%] md:mt-10 mx-auto">
        <div class="flex flex-col justify-between mb-30 gap-6">
          <div class="tours-head w-full flex items-center flex-col">
            <h3 class="tracking-wide text-2xl">
              Tours
            </h3>
      
            <h2 class="text-3xl md:text-4xl font-bold mt-2 text-center">
              {lang === "en"
                ? "Unique experiences designed for every type of traveler"
                : "Experiencias únicas diseñadas para cada tipo de viajero"}
            </h2>
          </div>
        </div>

        <article class=" flex row justify-between mb-30">
          <div class="parallax-wrapper w-2/4">
            <img 
              src="/images/gallery/img3.webp" 
              alt="Hero"
              class="parallax-image"
            />
          </div>
          <div class="w-1/2 pl-10 pr-20">
            <h3 class="text-4xl mb-1">Night walk</h3>
            <h4 class="text-xl mb-5">Discover Monteverde after dark</h4>
            <p>Explore the magic of Monteverde’s cloud forest after sunset. Guided by a local naturalist, discover the incredible nocturnal wildlife that awakens at night — from frogs and insects to sleeping birds and hidden mammals. This immersive walk reveals a completely different side of the forest that most visitors never see during the day.</p>
          </div>
        </article>

        <article class=" flex row justify-between mb-30">
          <div class="w-1/2 pl-10 pr-20">
            <h3 class="text-4xl mb-1">Private Night Walk</h3>
            <h4 class="text-xl mb-5">A private wildlife experience</h4>
            <p>Enjoy a more personal and flexible night walk through the Monteverde cloud forest. This private tour allows you to explore at your own pace with a dedicated guide focused entirely on your group. Perfect for photographers, families, or anyone looking for a more intimate wildlife experience.</p>
          </div>
          <div class="parallax-wrapper w-2/4">
            <img 
              src="/images/gallery/img3.webp" 
              alt="Hero"
              class="parallax-image"
            />
          </div>
        </article>

        <article class=" flex row justify-between mb-30">
          <div class="parallax-wrapper w-2/4">
            <img 
              src="/images/gallery/img3.webp" 
              alt="Hero"
              class="parallax-image"
            />
          </div>
          <div class="w-1/2 pl-10 pr-20">
            <h3 class="text-4xl mb-1">Bird Watching in Monteverde</h3>
            <h4 class="text-xl mb-5">Explore one of the world’s top birding destinations</h4>
            <p>Monteverde is one of the best birdwatching destinations in the world. Join an experienced guide to search for colorful species such as toucans, motmots, hummingbirds, and the famous resplendent quetzal. Whether you are a beginner or an experienced birder, this tour offers an unforgettable opportunity to discover Costa Rica’s incredible avian diversity.</p>
          </div>
        </article>
      
      <section class="mt-30">
        <h2>Sobre nosotros</h2>
        <p>The Best Tour Guide</p>
      </section>
    
      <section>
        <h2>Contacto</h2>
      </section>

      <section>
        <h2>Customer Experiences</h2>
      </section>
    </div>
  </div>
</Layout>

<style>
  .bg-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;           
  }
  .bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .bg-video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .parallax-wrapper {
    position: relative;
    height: 600px;
    overflow: hidden;
  }

  .parallax-image {
    position: absolute;
    width: 100%;
    height: 140%;
    object-fit: cover;
    top: -20%;
    left: 0;
    will-change: transform;
  }
</style>

<script>
  import { gsap } from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"
  import { SplitText } from "gsap/SplitText"

  gsap.registerPlugin(ScrollTrigger, SplitText);

  const title = document.querySelector("#hero-title");
  const subtitle = document.querySelector("#hero-subtitle");

  let titleSplit: SplitText | undefined;
  let subtitleSplit: SplitText | undefined;

  function initAnimation() {
    titleSplit?.revert();
    subtitleSplit?.revert();

    titleSplit = new SplitText(title, { type: "words" });
    subtitleSplit = new SplitText(subtitle, { type: "words" });

    const tl = gsap.timeline({ ease: "power2.out" });

    tl.from(titleSplit.words, {
      duration: 0.3,
      y: 35,
      stagger: 0.1
    })
    .from(titleSplit.words, {
      duration: 0.3,
      autoAlpha: 0,
      stagger: 0.1,
      filter: "blur(3px)"
    }, 0.2)
    .from(subtitleSplit.words, {
      duration: 0.3,
      y: 20,
      autoAlpha: 0,
      stagger: 0.05
    }, "-=0.2");
  }

  initAnimation();

  const toursHead = document.querySelector(".tours-head");

  if (toursHead) {
    gsap.from(toursHead, {
      y: 50,
      autoAlpha: 0,
      duration: 0.8,
      ease: "power2.out",
      scrollTrigger: {
        trigger: toursHead,
      }
    });
  }

  gsap.utils.toArray<HTMLElement>(".parallax-wrapper").forEach((wrapper) => {

    const image = wrapper.querySelector<HTMLElement>(".parallax-image");
    if (!image) return;

    gsap.fromTo(
      image,
      { yPercent: -20 },
      {
        yPercent: 30,
        ease: "none",
        scrollTrigger: {
          trigger: wrapper,
          start: "top 140%",
          end: "bottom -20%",
          scrub: 2
        }
      }
    );

  });
  ScrollTrigger.refresh();

</script>
