---
import Layout from "@/layouts/Layout.astro"
import Gallery from "@/components/Gallery.astro";
import TourCard from "@/components/TourCard.astro";
import AboutUsCard from "@/components/AboutUsCard.astro";
import Reviews from "@/components/Reviews.astro";
import tours from "@/data/tours.json";
import aboutUs from "@/data/aboutUs.json";

const { lang = "en"} = Astro.props;
---

<Layout>
  <section class="banner-video ">
    <div class="bg-video">
      <video autoplay muted loop preload="none" >
        <source src="/videos/forest.mp4" type="video/mp4" />
        Tu navegador no soporta el elemento de video.
      </video>
    </div>
    <div class="absolute top-0 w-full h-full z-2 flex flex-col justify-center items-center">
      <div class="w-[90%] xl:w-[70%]">
        <h1 id="hero-title" class="text-3xl md:text-6xl text-bold">Still Wild Nature</h1>
        <h2 id="hero-subtitle" class="text-l md:text-xl">Night Walk Experience in Monteverde</h2>
      </div>
    </div>
  </section>

  <div class="relative flex flex-col items-center">
      <section id="sobre-nosotros" class="w-[90%] xl:w-[80%] mt-20 md:mt-10 mx-auto">
        <div class="flex flex-col justify-between mb-30 gap-6">
          <div class="tours-head w-full flex items-center flex-col">
            <h3 class="tracking-wide text-lg md:text-2xl">
              Tours
            </h3>
      
            <h2 class="text-2xl md:text-4xl font-bold mt-2 text-center">
              {lang === "en"
                ? "Unique experiences designed for every type of traveler"
                : "Experiencias únicas diseñadas para cada tipo de viajero"}
            </h2>
          </div>
        </div>

        <div class="tours">
          {tours.map((tour, index) => (
            <TourCard 
              tour={tour} 
              reverse={index % 2 !== 0} 
            />
          ))}
        </div>
      </section>

      <section id="sobre-nosotros" class="w-[90%] xl:w-[65%] mt-24 md:mt-32 mx-auto">
        <div class="flex flex-col justify-between mb-12 gap-6">
          <div class="w-full flex items-center flex-col">
            <h3 class="text-lg md:text-2xl tracking-wide">
              {lang === "en" ? "Why Explore Monteverde With Us" : "Por qué explorar Monteverde con nosotros"}
            </h3>
            <h2 class="text-2xl md:text-4xl font-bold mt-2 text-center">
              {lang === "en"
                ? "Authentic experiences guided by passion, knowledge, and a deep respect for nature."
                : "Experiencias auténticas guiadas por la pasión, el conocimiento y un profundo respeto por la naturaleza."}
            </h2>
          </div>
        </div>
      
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
          {aboutUs.map((item) => (
            <AboutUsCard
              title={item.title}
              description={item.description}
              icon={item.icon}
            />
          ))}
        </div>

        <div class="flex flex-col md:flex-row items-center mt-12 md:mt-20 gap-10 md:gap-0">
          <div class="w-full md:w-1/2 md:pr-16 order-2 md:order-1">
            <h4 class="text-2xl md:text-3xl font-bold text-[#4E7C59]">
              Dauner Alvarado
            </h4>
            <p class="pt-6 md:pt-10 text-base md:text-lg">
              You’re not just booking a tour - You’re stepping into a deeper connection with nature.
            </p>
            <p class="pt-4 md:pt-5 text-base md:text-lg">
              At Still Wild Nature, every experience is crafted to slow down, observe, and truly feel the magic of the cloud forest. Whether it’s the silence of the night walk or the first sounds of the forest at sunrise, we help you see Monteverde in a way that stays with you long after your visit.
            </p>
          </div>
          <div class="w-full md:w-1/2 guide-wrapper order-1 md:order-2">
            <img class="guide" src="/images/aboutMe.png" alt="">
          </div>
        </div>
      </section>
      <section class="w-[90%] xl:w-[65%]">
        <h2 class="text-2xl md:text-4xl mt-20 w-full text-center">
          Customer Experiences
        </h2>
        <Reviews/>
      </section>

      <section class="gallery py-32 w-[90%] ">
        <Gallery />
      </section>
    </div>
  </div>
</Layout>

<style>
  .bg-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 92vh;
    object-fit: cover;
    z-index: 1;           
  }
  .bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .bg-video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .guide-wrapper {
    position: relative;
    height: 500px;
    overflow: hidden;
  }

  @media (min-width: 1024px) {
    .guide-wrapper {
      height: 600px;
    }
  }

  @media (min-width: 768px) {
    .guide-wrapper {
      height: 700px;
    }

    .bg-video {
      height: 100vh;     
    }
  }

  .guide {
      position: absolute;
      width: 100%;
      height: 120%;
      object-fit: cover;
      top: -10%;
      left: 0;
      will-change: transform;
  }
</style>

<script>
  import { gsap } from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"
  import { SplitText } from "gsap/SplitText"

  gsap.registerPlugin(ScrollTrigger, SplitText);

  const title = document.querySelector("#hero-title");
  const subtitle = document.querySelector("#hero-subtitle");

  let titleSplit: SplitText | undefined;
  let subtitleSplit: SplitText | undefined;

  function initAnimation() {
    titleSplit?.revert();
    subtitleSplit?.revert();

    titleSplit = new SplitText(title, { type: "words" });
    subtitleSplit = new SplitText(subtitle, { type: "words" });

    const tl = gsap.timeline({ ease: "power2.out" });

    tl.from(titleSplit.words, {
      duration: 0.3,
      y: 35,
      stagger: 0.1
    })
    .from(titleSplit.words, {
      duration: 0.3,
      autoAlpha: 0,
      stagger: 0.1,
      filter: "blur(3px)"
    }, 0.2)
    .from(subtitleSplit.words, {
      duration: 0.3,
      y: 20,
      autoAlpha: 0,
      stagger: 0.05
    }, "-=0.2");
  }

  initAnimation();

  const toursHead = document.querySelector(".tours-head");

  if (toursHead) {
    gsap.from(toursHead, {
      y: 50,
      autoAlpha: 0,
      duration: 0.8,
      ease: "power2.out",
      scrollTrigger: {
        trigger: toursHead,
      }
    });
  }

  window.addEventListener("load", () => {

    gsap.utils.toArray(".parallax-wrapper").forEach((wrapper) => {

      const image = wrapper.querySelector(".parallax-image")
      if (!image) return

      gsap.fromTo(
        image,
        { yPercent: -20 },
        {
          yPercent: 30,
          ease: "none",
          scrollTrigger: {
            trigger: wrapper,
            start: "top 140%",
            end: "bottom -20%",
            scrub: 2
          }
        }
      )
      ScrollTrigger.refresh(true)
    })

    gsap.utils.toArray(".guide-wrapper").forEach((wrapper) => {
      const image = wrapper.querySelector(".guide")
      if (!image) return

      gsap.to(
        image,
        {
          yPercent: 30,
          ease: "none",
          scrollTrigger: {
            trigger: wrapper,
            start: "top 200%",
            end: "bottom top",
            scrub: 2,
          }
        }
      )
      ScrollTrigger.refresh(true)
    })

    gsap.utils.toArray(".tour-card").forEach((card) => {

      const image = card.querySelector(".image-anim")
      const text = card.querySelector(".text-anim")

      if (!image || !text) return

      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: card,
          start: "top bottom",
          toggleActions: "play none none none"
        }
      })

      tl.from(image, {
        y: 80,
        autoAlpha: 0,
        duration: 1,
        ease: "power2.out"
      })
      .from(text, {
        y: 40,
        autoAlpha: 0,
        duration: 1,
        ease: "power2.out"
      }, "-=0.6")

    })

    ScrollTrigger.refresh(true)
  })

  gsap.utils.toArray(".why-us-card").forEach((card) => {
    ScrollTrigger.batch(card, {
      start: "top 85%",
      onEnter: batch =>
        gsap.to(batch, {
          y: 0,
          autoAlpha: 1,
          duration: 0.8,
          ease: "power2.out",
          stagger: 0.2,
        }),
      once: true,
    });

  })
</script>