---
import SmalGroupsIcon from "./icons/SmalGroupsIcon.astro";
import LocalExperienceIcon from "./icons/LocalExperienceIcon.astro";
import NatureCareIcon from "./icons/NatureCareIcon.astro";

const { title, description, icon } = Astro.props;

const iconMap = {
  smalGroup: SmalGroupsIcon,
  localExperience: LocalExperienceIcon,
  natureCare: NatureCareIcon,
};

const IconComponent = iconMap[icon];
---

<article class="h-full why-us-card">
  <div class="rounded-2xl h-full bg-black shadow-lg p-6 md:p-8 flex flex-col items-center transition-all duration-300 hover:-translate-y-3 hover:shadow-xl">
    
    <div class="w-[60px] h-[60px]">
      {IconComponent && <IconComponent color="#4E7C59" class="w-full h-full transition" />}
    </div>

    <h4 class="text-lg md:text-2xl font-semibold mt-6 mb-3 text-center">{title}</h4>

    <p class="text-gray-400 text-sm md:text-m text-center">
      {description}
    </p>

  </div>
</article>