---
import reviews from "@/data/reviews.json";
---

<section class="mt-20">
  <div class="grid md:grid-cols-3 gap-6">
    {reviews.reviews.map((review) => (
      <div class="p-6 bg-black shadow-md rounded-xl">
        
        <div class="flex items-center mb-3">
          <span class="font-semibold">{review.author_name}</span>
        </div>

        <div class="flex mb-3">
          {"⭐".repeat(review.rating)}
        </div>

        <p class="text-sm text-gray-600 mb-4">
          {review.text}
        </p>

        <span class="text-xs text-gray-400">
          {review.relative_time_description}
        </span>

      </div>
    ))}
  </div>
</section>