---
import Nav from "@/components/Nav.astro";
import Footer from "@/components/Footer.astro";
import MistBackground from "@/components/MistBackground.astro";
import KeepScrolling from "@/assets/keep-scrolling.svg"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/still-wild-nature.jpg" />
    <title>Still wild nature</title>
  </head>
  <body>
    <div id="wrapper">
      <MistBackground />
      <div id="content">
        <Nav lang="en" />
        <slot />
        <Footer />
      </div>
      <KeepScrolling
        class="fixed bottom-5 md:bottom-3 right-0 left-0 mx-auto text-white drop-shadow-2xl animate-bounce-pulse z-10"
      />
    </div>

    <script>
      import { gsap } from "gsap"
      import { ScrollTrigger } from "gsap/ScrollTrigger"
      import { ScrollSmoother } from "gsap/ScrollSmoother"

      gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

      ScrollSmoother.create({
        wrapper: "#wrapper",
        content: "#content",
        smooth: 2,
        speed: 1.2,
        effects: true
      });
    </script>
  </body>
</html>

<style is:global>
  @import "tailwindcss";

  @theme {
    --animate-bounce-pulse: bounce-pulse 2s ease-in-out infinite;
  }

  @keyframes bounce-pulse {
    0% {
      transform: translateY(0);
      scale: 0.8;
      opacity: 0.8;
    }

    50% {
      transform: translateY(-5px);
      opacity: 1;
      scale: 1;
    }

    100% {
      transform: translateY(0);
      scale: 0.8;
      opacity: 0.8;
    }
  }

  html,
  body {
    background: #0B0F0C;
    min-height: 300vh;
    overflow-x: hidden;
    overscroll-behavior-y: auto;
    color: white;
    margin: 0;
    width: 100%;
  }
</style>